<!-- <h1>{{value | currency}}</h1> -->

<h2>Hero List</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />
  
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>



<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> 
            <span class='badge'>{{hero.name}}</span>
            <button type="button" class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
        </a>
    </li>
</ul>

<!-- <app-hero-detail [hero]='selectedHero'></app-hero-detail> -->

<!-- 
<h1>{{hero.name | uppercase}} Details</h1>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="">Hero Name</label>
    <input type="text" [(ngModel)]='hero.name'>
</div> -->

<!-- !-----------------------------------* -->